@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500,700&display=swap");

:root {
  --primary-color: hsl(180, 29%, 50%);
  --light-color: hsl(180, 52%, 96%);
  --light-neutral-color: hsl(180, 31%, 95%);
  --dark-gray: hsl(180, 8%, 52%);
  --strong-dark-gray: hsl(180, 14%, 20%);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "League Spartan", sans-serif;
  background-color: var(--light-neutral-color);
  color: var(--strong-dark-gray);
  font-size: 15px;
  font-weight: 500;
}

.container {
  max-width: 1440px;
}

.section-header img {
  width: 100%;
  height: auto;
  background-color: var(--primary-color);
}

.section-job-offers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.job-offers-container {
  background-color: var(--light-color);
  border-radius: 5px;
  box-shadow: 0 4px 6px 4px rgba(91, 164, 164, 0.2);
  padding: 20px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 20px 0;
}

.job-offers-content {
  display: flex;
  align-items: center;
}

.job-offers-details, .job-offers-details p {
  margin-top: 10px;
}

.job-offers-details p {
  color: var(--dark-gray);
}

.job-offers-logo {
  margin-right: 50px;
}

.job-offers-logo img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.job-offers-company {
  display: flex;
  align-items: center;
}

.job-offers-company h2 {
  color: var(--primary-color);
}

.job-offers-company h2, .job-offers-company span {
  font-size: 15px;
}

.job-offers-company span {
  margin-left: 30px;
  color: var(--light-color);
  border-radius: 5px;
  padding: 5px;
  border-radius: 45px;
}

.job-offers-company span:nth-of-type(1) {
  background-color: var(--primary-color);
}

.job-offers-company span:nth-of-type(2) {
  background-color: var(--strong-dark-gray);
}

.job-offers-tools button {
  margin-right: 20px;
}

.job-offers-tools button {
  border: none;
  background-color: var(--light-neutral-color);
  color: var(--primary-color);
  font-weight: 700;
  font-size: 19px;
}

@media only screen and (max-width: 600px) {
  .container {
    max-width: 375px;
  }
}
