@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500,700&display=swap");

:root {
  --primary-color: hsl(180, 29%, 50%);
  --light-color: hsl(180, 52%, 96%);
  --light-neutral-color: hsl(180, 31%, 95%);
  --dark-gray: hsl(180, 8%, 52%);
  --strong-dark-gray: hsl(180, 14%, 20%);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: auto;
  overflow-x: hidden !important;
}

body {
  font-family: "League Spartan", sans-serif;
  background-color: var(--light-neutral-color);
  color: var(--strong-dark-gray);
  font-size: 15px;
  font-weight: 500;
}

.container {
  max-width: 1440px;
  padding: 0 1em;
  margin: 0 auto;
}

/* HEADER STYLES */

.section-header img {
  width: 100%;
  height: 100px;
  background-color: var(--primary-color);
}

/* JOB OFFERS STYLES */

.section-job-offers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.job-offers-container {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 6px 4px rgba(91, 164, 164, 0.2);
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0 0 0;
}

.job-offers-container:nth-of-type(1),
.job-offers-container:nth-of-type(2) {
  border-left: 5px solid var(--primary-color);
}

.job-offers-content {
  display: flex;
  /* align-items: center; */
}

.job-offers-details,
.job-offers-details p {
  margin-top: 10px;
}

.job-offers-details {
  transition: all 0.3s ease-out;
}

.job-offers-details h3:hover,
.job-offers-details h3:focus,
.job-offers-details h3:active {
  color: var(--primary-color);
}

.job-offers-details p {
  color: var(--dark-gray);
}

.job-offers-details span {
  color: var(--dark-gray);
  margin-top: 10px;
  display: block;
}

.job-offers-logo {
  margin-right: 50px;
}

.job-offers-logo img {
  width: auto;
  height: 100px;
  object-fit: cover;
}

.job-offers-company {
  display: flex;
  align-items: center;
}

.job-offers-company h2 {
  color: var(--primary-color);
}

.job-offers-company h2,
.job-offers-company span {
  font-size: 15px;
}

.job-offers-company span {
  margin-left: 30px;
  color: var(--light-color);
  border-radius: 5px;
  padding: 5px;
  border-radius: 45px;
}

.job-offers-company span:nth-of-type(1) {
  background-color: var(--primary-color);
}

.job-offers-company span:nth-of-type(2) {
  background-color: var(--strong-dark-gray);
}

.job-offers-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border: none;
}

.job-offers-filters button {
  background-color: var(--light-neutral-color);
  padding: 10px;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 19px;
  border-radius: 5px;
  border: none;
  transition: all 0.3 ease-out;
  cursor: pointer;
}

.job-offers-filters button:hover,
.job-offers-filters button:focus,
.job-offers-filters button:active {
  background-color: var(--primary-color);
  color: var(--light-color);
}

/* FILTER STYLES */

.filter-container {
  position: relative;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 6px 4px rgba(91, 164, 164, 0.2);
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 20px 35px;
  margin-top: -50px;
}

.filter-container ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.filter-container ul li {
  align-items: center;
  background-color: var(--light-neutral-color);
  border-radius: 5px;
  color: var(--primary-color);
  display: flex;
  font-weight: 700;
  list-style: none;
  padding: 0 0 0 0.5rem;
}

.close {
  background-color: var(--primary-color);
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  margin-left: 0.5rem;
  padding: 10px;
  transition: all 0.2s ease-out;
}

.close:hover,
.close:focus,
.close:active {
  background-color: var(--strong-dark-gray);
}

.clear {
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 700;
  border: none;
  transition: all 0.2s ease-out;
}

.clear:hover,
.clear:focus,
.clear:active {
  text-decoration: underline;
  transition: all 0.2s ease-out;
}

@media screen and (max-width: 600px) and (max-width: 1200px) {
  .job-offers-company span {
    margin-left: 10px;
  }

  .job-offers-company h2,
  .job-offers-company span,
  .job-offers-filters button {
    font-size: 13px;
  }
}
/* STYLES FOR TABLET VIEW */

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 3.5em;
  }

  .job-offers-container {
    align-items: normal;
    flex-direction: column;
  }

  .job-offers-filters button {
    height: 40px;
    font-size: 16px;
  }

  .job-offers-filters {
    display: flex;
    gap: 10px;
    border: none;
    margin-top: 10px;
    border-top: 1px solid rgb(183, 196, 196);
    padding-top: 20px;
  }
}

/* STYLES FOR MOBILE VIEW */

@media screen and (max-width: 600px) {
  .container {
    max-width: 375px;
    padding: 0 1.5em;
  }

  /* JOB OFFERS STYLES */

  .job-offers-logo {
    margin-right: 0;
    margin-top: -3.5em;
  }

  .job-offers-logo img {
    height: 65px;
    width: auto;
  }

  .job-offers-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: normal;
    margin: 50px 0 0 0;
    padding: 20px 15px;
  }

  .job-offers-content {
    flex-direction: column;
  }

  .job-offers-filters {
    margin-top: 20px;
  }

  .job-offers-filters button {
    font-size: 14px;
  }

  /* FILTER STYLES */

  .filter-container {
    padding: 15px 15px;
  }
}
