@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500,700&display=swap");

:root {
  --primary-color: hsl(180, 29%, 50%);
  --light-color: hsl(180, 52%, 96%);
  --light-neutral-color: hsl(180, 31%, 95%);
  --dark-gray: hsl(180, 8%, 52%);
  --strong-dark-gray: hsl(180, 14%, 20%);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "League Spartan", sans-serif;
  background-color: var(--light-color);
  color: var(--strong-dark-gray);
  font-size: 15px;
  font-weight: 500;
}

.container {
  max-width: 1440px;
}

.section-header img {
  width: 100%;
  height: auto;
  background-color: var(--primary-color);
}

.section-job-offers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.job-offers-container {
  display: flex;
  align-items: center;
  width: 70%;
  margin: 20px 0;
}

@media only screen and (max-width: 600px) {
  .container {
    max-width: 375px;
  }
}
